<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>語源を使って最速・最短で覚える英単語帳アプリ Ety-book</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/images/favicon.png" rel="icon">
    <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Appland - v4.9.1
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <% if (locals.message != 'お問い合わせ完了') { %>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top  header-transparent">
            <div class="container d-flex align-items-center justify-content-between">

                <div class="logo">
                    <h1><a href="/introduction">Ety-book</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html"><img src="/images/logo.png" alt="" class="img-fluid"></a>-->
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">ホーム</a></li>
                        <li><a class="nav-link scrollto" href="#first">はじめに</a></li>
                        <li><a class="nav-link scrollto" href="#details">特徴</a></li>
                        <li>
                            <a class="nav-link scrollto" href="#gallery">ギャラリー</a>
                        </li>
                        <li><a class="nav-link scrollto" href="#faq">Q&A</a></li>
                        <li><a class="nav-link scrollto" href="#contact">問い合わせ先</a></li>
                        <li><a class="getstarted scrollto" href="/login">Get Started</a></li>
                    </ul>
                    <i class="bi bi-icon-2 bi-list mobile-nav-toggle"></i>
                </nav>
                <!-- .navbar -->

            </div>
        </header>
        <!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                        <div>
                            <h1>Ety-book</h1>
                            <h2>語源を使って最速・最短で覚える英単語帳アプリ</h2>
                            <!-- <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
                        <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> -->
                        </div>
                    </div>
                    <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                        <img src="/images/hero-img.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

        </section>
        <!-- End Hero -->

        <main id="main">

            <!-- ======= App Features Section ======= -->
            <section id="first" class="first">
                <div class="container">

                    <div class="section-title">
                        <h2>こんなお悩み抱えていませんか？</h2>
                    </div>

                    <div class="row no-gutters">
                        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                            <div class="content d-flex flex-column justify-content-center">
                                <div class="row gap-5">
                                    <div class="col-md-12 icon-box" data-aos="fade-up">
                                        <i class="bx bxs-check-square">英単語が覚えられない</i>
                                    </div>
                                    <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="100">
                                        <i class="bx bxs-check-square">英単語を覚えるのが面倒だ</i>

                                    </div>
                                    <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                                        <i class="bx bxs-check-square">英単語が覚えてもすぐに忘れてしまう</i>
                                    </div>
                                    <div class="col-md-12 icon-box" data-aos="fade-up" data-aos-delay="200">
                                        <i class="bx bxs-check-square">短時間で効率的に覚えたい</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                            <img src="/images/worry.png" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </section>
            <!-- End App Features Section -->


            <!-- ======= Details Section ======= -->
            <section id="details" class="details">
                <div class="container">
                    <div class="section-title">
                        <h2>アプリの機能紹介と効果</h2>
                    </div>
                    <div class="row content">
                        <div class="col-md-4" data-aos="fade-right">
                            <img src="/images/details-1.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 d-flex align-items-center" data-aos="fade-up">
                            <div class="pt-4">
                                <h3>単語の閲覧機能</h3>
                                <p>過去に登録した画面を閲覧することができます。 またリンク先をクリックすればより詳細な情報を見ることができます。</p>
                            </div>
                        </div>
                    </div>

                    <div class="row content">
                        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                            <img src="/images/details-2.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 order-2 order-md-1 d-flex align-items-center" data-aos="fade-up">
                            <div class="pt-5">
                                <h3>単語と語源の登録</h3>
                                <p>簡単に単語や語源を登録することができます。なお既に登録した語源は自動補完されます。</p>
                            </div>
                        </div>
                    </div>

                    <div class="row content">
                        <div class="col-md-4" data-aos="fade-right">
                            <img src="/images/details-3.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 d-flex align-items-center" data-aos="fade-up">
                            <div class="pt-5">
                                <h3>同じ語源の単語を登録する</h3>

                                <p>単語の登録後や語源の詳細画面から簡単に登録することができます。
                                    <br>同じ語源で、なおかつ知っている単語をいくつか登録するを行えば通常の記憶作業に比べて<span>定着率が高いです。</span>加えて上記のように関連付けした単語を繰り返し確認すると、通常の記憶作業に比べて
                                    <span>定着率が高いです。</span>[1](高橋、1989)
                                </p>
                                <br><br>

                            </div>
                        </div>
                    </div>


                </div>
            </section>
            <!-- End Details Section -->

            <!-- ======= Gallery Section ======= -->
            <section id="gallery" class="gallery">
                <div class="container" data-aos="fade-up">

                    <div class="section-title">
                        <h2>ギャラリー</h2>
                    </div>

                </div>

                <div class="container-fluid" data-aos="fade-up">
                    <div class="gallery-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-1.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-1.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-2.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-2.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-3.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-3.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-4.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-4.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-5.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-5.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-6.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-6.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-7.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-7.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="swiper-slide">
                                <a href="/images/gallery/gallery-8.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/images/gallery/gallery-8.png" class="img-fluid" alt=""></a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </div>
            </section>
            <!-- End Gallery Section -->

            <!-- ======= よくあるQ&A Section ======= -->
            <%- include('partials/faq') %>
                <!-- ======= Contact Section ======= -->
                <section id="contact" class="contact">
                    <div class="container">

                        <div class="section-title">
                            <h2>問い合わせ先</h2>
                        </div>

                        <div class="row">

                            <div class="col-lg-6">
                                <div class="row">
                                    <!-- <div class="col-lg-6 info">
                                <i class="bx bx-map"></i>
                                <h4>Address</h4>
                                <p>A108 Adam Street,<br>New York, NY 535022</p>
                            </div>
                            <div class="col-lg-6 info">
                                <i class="bx bx-phone"></i>
                                <h4>Call Us</h4>
                                <p>+1 5589 55488 55<br>+1 5589 22548 64</p>
                            </div> -->
                                    <div class="col-lg-12 info">
                                        <i class="bx bx-envelope"></i>
                                        <h4>Email</h4>
                                        <p>contact@ety-book.com<br>info@ety-book.com</p>
                                    </div>
                                    <div class="col-lg-12 info">
                                        <i class="bx bx-time-five"></i>
                                        <h4>営業時間</h4>
                                        <p>Mon - Fri: 9AM to 5PM</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <form method="POST" action="/introduction" class="php-email-form">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" value="<%= locals.name ? name :null%>" maxlength="255" placeholder="Your Name" required>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="email" class="form-control" name="email" value="<%= locals.email ? email :null%>" maxlength="255" placeholder="Your Email" required>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="text" class="form-control" name="subject" value="<%= locals.subject ? subject :null%>" maxlength="255" placeholder="Subject" required>
                                    </div>
                                    <div class="form-group mt-3">
                                        <textarea class="form-control" name="message" rows="5" value="<%= locals.message ? message :null%>" maxlength="3000" placeholder="Message" required></textarea>
                                    </div>
                                    <div class="my-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="text-center"><button type="submit">Send Message</button></div>
                                </form>
                            </div>

                        </div>

                    </div>

                </section>
                <!-- End Contact Section -->

        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">


            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <!-- <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Appland</h3>
                        <p>
                            A108 Adam Street <br> New York, NY 535022<br> United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div> -->
                        <ul>
                            <li>[1]高橋雅延, (1989). 記憶における自己選択効果. 京都大学教育学部 紀要, 35, 207-217.</li>
                            <li>[2]Craik, F.I.M., & Lockhart, R.S. (1972). Levels of processing. A framework for memory research. Journal of Verbal Learning and Verbal Behaviour, 11, 671-684.</li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="container py-4">
                <div class="copyright">
                    &copy; Copyright <strong><span>Ety-book</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-icon-2 bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="/vendor/aos/aos.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="/javascripts/introduction_main.js"></script>
        <% } else { %>
            <div class="container">
                <h3 class="mt-4">
                    <%= message %>
                </h3>
                <p>
                    お問い合わせを受け付けました。
                    <br>折り返し、担当者よりご連絡いたしますので、 恐れ入りますが、しばらくお待ちください。
                    <br>なお、ご入力いただいたメールアドレス宛に受付完了メールを配信しております。
                </p>

                <p>
                    完了メールが届かない場合、処理が正常に行われていない可能性があります。
                    <br> 大変お手数ですが、再度お問い合わせの手続きをお願い致します。
                </p>
                <div class="row">
                    <div class="col">
                        <a href="/home" class="btn btn-secondary btnx-purpule col-3 bi bi-icon-2 bi-house-door-fill icon-status col"></a>
                        <a href="/home" class="btn btn-secondary col-3 bi-arrow-left icon-status col"></a>
                    </div>
                </div>
            </div>
            <% } %>



</body>

</html>